
  @media screen and (max-width: 1920px){
/*info*/
  .info-cuerpos{
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 40px;
  }

  .info-cuerpos img{
      width: 150px;
  }

  .subtitulo-tipo{
      padding: 100px;
      line-height: 30px;
      text-align: justify;
  }

  .subtitulo-tipo h3{
      font-size: 36px;
      margin-bottom: 10px;
  }

  .info-cuerpos video{
      width: 100%;
  }
}

  @media screen and (max-width: 500px){
      .info-cuerpos img{
          height: 60%;
      }

      .info-cuerpos{
          margin-bottom: 0px;
          display: inline-block;
          align-items: center;
          text-align: center;

      }

      .subtitulo-tipo h3{
          font-size: 28px;
          text-align: center;
      }

      .subtitulo-tipo p{
          font-size: 12px;
          padding: 0;
      }

      
  }