

.info-lista{
    margin-top: 20px;
    font-size: 28px;
}

p{
    font-size: 22px;
    line-height: 36px;
    text-align: justify;
    margin-top: 18px;
}

.img-lista img{
    width: 60%;
}

.img-lista {
    margin-top: 20px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}

.contenedor .espacio{
    margin-bottom: 50px;
}

.video{
    display: flex;
    justify-content: center;
}

.video video{
    height: 400px;
    
}

.titulo-lista{
    text-align: center;
}

@media screen and (max-width: 500px){
    p{
        font-size: 16px;
        line-height: 32px;
        text-align: justify;
        margin-top: 18px;
    }
    
    .info-lista{
        font-size: 24px;
        text-align: center;
    }

    .img-lista img{
        width: 100%;
    }
    
    .img-lista {
        margin-top: 20px;
        margin-bottom: 60px;
        width: 300px;
    }

    .titulo-lista{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    
}