:root {

    /* Colors: */
    --naranja: #FF9F1C;
    --naranja-claro: #FFBF69;
    --azul-perry: #2EC4B6;
    --azul-perry-claro: #CBF3F0;
    }

    @media screen and (max-width: 1920px){

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
      }
      
    /*header*/
    
    header {
     width: 100%;
     background: #ff4714;
     /* fallback for old browsers */
     background: -webkit-linear-gradient(to right, hsla(13, 100%, 54%, 0.568), hsla(33, 100%, 50%, 0.644)), url(../img/padlet-fotos.png);
     /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(to right, hsla(13, 100%, 54%, 0.568), hsla(33, 100%, 50%, 0.644)), url(../img/padlet-fotos.png);
     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     background-size: cover;
     background-attachment: fixed;
     position: relative;
     height: 450px; 

    }
    
      nav{
        text-align: right;

      }
    
    .menu-link {
    font-weight: 500;
    font-size: 22px;
    color: white;
    display: inline-block;
    text-decoration: none;
    padding: 50px 20px 0px 0px;
    letter-spacing: -1px;

    }
    
    .menu-link:hover {
        text-decoration: none;
        color: var(--azul-perry-claro);
    }
    

  .wave {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  .textos-foto {
    display: flex;
    height: 250px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    letter-spacing: 4px;
  }
  
  .textos-foto h1 {
    font-size: 100px;
    font-weight: 800;
    color: white;
    opacity: .9;
    letter-spacing: -4px;
  }
    
  /*info challenge*/
  .contenedor{
    padding: 30px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    
  }

  video{
    width: 260px;
    height: 450px
  }
  
  h2 {
      font-size: 46px;
      text-align: center;
  }

  .recuadros {
      padding: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .info-recuadros img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 10px;

  }

  .info-recuadros video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;

}

  .info-recuadros{
    width: 260px;
    display: flex;
    height: 450px;
    margin-bottom: 10px;
    position: relative;
    color: white;
    padding: 30px;
    opacity: .8;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    flex-wrap: wrap;
  }
  
  .ht{
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    letter-spacing: 4px;
    position: relative;
    color: white;
    font-weight: 600;
    text-decoration: none;
    border-radius: 150px;
    z-index: 1;
  }

  .agregar{
      font-size: 18px;
      text-align: center;
      margin-top: 10px;
  }

  .info-challenge{
      text-align: center;
      font-size: 20px;
      margin-top: 10px;
      padding-left: 100px;
      padding-right: 100px;
  }

  a {
      color: var(--azul-perry);
  }

  .tiktok{
      color: white;
      text-align: center;
  }
}

  @media screen and (max-width: 800px){
    header{
      background-position: center;
    }

    .contenedor{
      flex-direction: column;
      justify-content: center;
    }

    nav{
      text-align: center;
    }

    .info-recuadros{
      width: 260px;
      display: flex;
      height: 350px;
    }  

    .ht {
      font-size: 16px;
      letter-spacing: -1px;
      position: relative;
      bottom: 30px;
    }

    .info-challenge{
      padding-left: 20px;
      padding-right: 20px;
  }

  .textos-foto h1 {
    font-size: 80px;
  }
  
  }

  footer{
    background: #F2f2f2;
    padding: 20px;
    text-align: center;
  }

  .nombres p{
    padding: 0px 10px 20px 10px;
    font-size: 26px;
    text-align: center;
  }


  .iconos{
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    flex-direction: row;
  }
  .iconos img{
    width: 40px;
    height: 40px;
  }

  .terminos{
    padding: 10px 400px 20px 400px;

  }

  .terminos p{
    font-size: 10px;
  }

  @media screen and (max-width: 500px){
    header{
      background-position: center;
      height: 350px;
    }

    nav{
      text-align: center;
    }

    .contenedor{
      flex-direction: column;
      justify-content: center;
    }

    .textos-foto{
      height: 120px;
    }
    
    .textos-foto h1 {
      font-size: 50px;
    }

    .menu-link{
      font-weight: 500;
      font-size: 18px;
      padding: 30px 10px 0px 0px;
      letter-spacing: -1px;
  
    }

    .info-recuadros{
      width: 160px;
      display: flex;
      height: 250px;
    }  

    .ht {
      font-size: 16px;
      letter-spacing: -1px;
    }

    .info-challenge{
      padding-left: 20px;
      padding-right: 20px;
  }

    
  }